.bannercomponent{

width:100vw;
margin-left:calc(-50vw + 50%);
height:300px;

position:relative;
overflow:hidden;

}


/* IMAGE */

.banner-image{

position:absolute;

width:100%;
height:100%;

object-fit:cover;

/* POSITION IMPORTANTE DE L'IMAGE */
object-position:50% 70%;

/* 50% = centre horizontal

35% = hauteur visible

Exemples :

valeur	résultat
50% 10%	montre le haut
50% 30%	haut important
50% 50%	centre
50% 70%	montre le bas */

/* CONTRASTE ET LUMINOSITE */
filter:
brightness(1)
/* valeur	effet
1	normal
0.8	sombre
0.6	très sombre */


contrast(1.15)
/* valeur	effet
1	normal
1.2	plus contrasté
1.4	très contrasté */


saturate(1.1); /* jouter plus de couleur */

}


/* OVERLAY */

.bannercomponent-overlay{

position:absolute;
inset:0;

background:linear-gradient(
135deg,
rgba(44,62,80,0.70),
rgba(52,73,94,0.65)
);

display:flex;
align-items:center;
justify-content:center;

}


/* CONTENT */

.bannercomponent-content{

text-align:center;
color:white;
max-width:900px;
padding:20px;

}

.bannercomponent-title{

font-size:4rem;
font-weight:700;
letter-spacing:-0.02em;
animation:fadeDown 1s ease-out;

}

.bannercomponent-path{

margin-top:10px;
font-size:1rem;
opacity:0.9;

}

.separator{
margin:0 8px;
}


/* ANIMATION */

@keyframes fadeDown{

from{
opacity:0;
transform:translateY(-25px);
}

to{
opacity:1;
transform:translateY(0);
}

}


/* MOBILE */

@media(max-width:768px){

.bannercomponent{
height:250px;
}

.bannercomponent-title{
font-size:2.5rem;
}

}