.president-btn {
  background-color: #6ccff6;
  color: white;
  transition: all 0.3s ease;
  transform: translateY(0);
}

.president-btn:hover {
  background-color: #6ccff6;
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(230, 94, 4, 0.849);
}

.president-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(245, 101, 5, 0.884);
}